In [1]:
print("Hi this the era of python")

Hi this the era of python

# 1-Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see

In [10]:
break=5

SyntaxError: invalid syntax (800182598.py, line 1)

# 2- Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables

In [9]:
from datetime import date
byear=1999
today=date.today()
age=today.year-byear
age

25

# 3-Store your first, middle and last name in three different variables and then print your full name using these variables

In [14]:
fna='muhammad'
mna='Nadeem'
lna='Saleem'
print("Name is:", fna, mna, lna)

Name is: muhammad Nadeem Saleem

# 4-Answer which of these are invalid variable names: _nation 1record record1 record_one record-one record^one continuem

In [ ]:
1record
record^one
both of above two are invalid.

In [18]:
# find area of triangle
height=990
width=870
area=(1/2)*height*width
area

430650.0

In [23]:
r=9879879.000909090
round(r, 3)

9879879.001

In [24]:
10+2*3

16

# Str

# 1-You have a football field that is 92 meter long and 48.8 meter wide. Find out total area using python and print it.

In [33]:
length=92
width=48.8
area=length*width
# area
print(round(area,1))

4489.6

# 2-You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar. Find out using python, how many dollars is the shopkeeper going to give you back?

In [36]:
b=9
co=1.49
pa=20
total=b*co
price=pa-total
print("give you back is", price)

give you back is 6.59

# 2-You want to replace tiles in your bathroom which is exactly square and 5.5 feet is its length. If tiles cost 500 rs per square feet, how much will be the total cost to replace all tiles. Calculate and print the cost using python (Hint: Use power operator ** to find area of a square)

In [39]:
s=5.5
s=s**2
cos=500
total_cost=s*cos
total_cost

15125.0

In [40]:
# Length of the bathroom in feet
length_of_bathroom = 5.5

# Cost per square foot of tile in Rs
cost_per_square_foot = 500

# Calculating the area of the square bathroom (length ** 2)
area_of_bathroom = length_of_bathroom ** 2

# Calculating the total cost to replace all tiles
total_cost = area_of_bathroom * cost_per_square_foot

# Printing the total cost
print("The total cost to replace all tiles is:", total_cost, "Rs")

The total cost to replace all tiles is: 15125.0 Rs

# String

# 1-Create 3 variables to store street, city and country, now create address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line

In [57]:
city="lahore"
Country="pakistan"
address="firdus, H-10, Lahore"
print(city+"\n"+Country+"\n"+address)

lahore
pakistan
firdus, H-10, Lahore

In [58]:
city="lahore"
Country="pakistan"
address="firdus, H-10, Lahore"
va=f"{city}\n{Country}\n{address}"
print(f"Your Address is:", va)

Your Address is: lahore
pakistan
firdus, H-10, Lahore

# 2-Create a variable to store the string "Earth revolves around the sun"
# Print "revolves" using slice operator
# Print "sun" using negative index

In [75]:
y="Earth revolves around the sun"
print(y[6:15])
print(y[-3:])

revolves
sun

# 3-Create two variables to store how many fruits and vegetables you eat in a day. Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.

In [78]:
x='apple', 'mango'
y='cocamber', 'tomato'
print(f"I eat {x} fruits and {y} veggies daiy")

I eat ('apple', 'mango') fruits and ('cocamber', 'tomato') veggies daiy

# 4-I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.

In [85]:
# s='maine 200 banana khaye'
print('maine 200 banana khaye'.replace('maine 200', 'maine 10'))

maine 10 banana khaye

# Input

In [87]:
n1=input("enter first no")
n2=input("enter second no")
print(type(n1+n2))

enter first no 3
enter second no 4

<class 'str'>

# 1-Write a program that can find area of a triangle. It should take base and height as an input from user and using that it should print an area of a triangle

In [94]:
height=float(input("Enter Height"))
base=float(input("Enter Base"))
area= (1/2)*height*base
print("Area of Triangle:",area)

Enter Height 3
Enter Base 4

Area of Triangle: 6.0

# 2-Write a program that takes file name with extension as an input and prints just the file name without extension (you can assume that file extensions are always 3 character long)

In [97]:
n=input("enter file name with it's extention")
print(n[:-3])

enter file name with it's extention haider_hyndai.txt

haider_hyndai.

# List

# 1-Let us say your expense for every month are listed below,
# January - 2200
# February - 2350
# March - 2600
# April - 2130
# May - 2190
# Create a list to store these monthly expenses and using that find out,

# 1. In Feb, how many dollars you spent extra compare to January?
# 2. Find out your total expense in first quarter (first three months) of the year.
# 3. Find out if you spent exactly 2000 dollars in any month
# 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
# 5. You returned an item that you bought in a month of April and
# got a refund of 200$. Make a correction to your monthly expense list
# based on this

In [108]:
expenses=[2200, 2350, 2600, 2130, 2190]
feb_extra_expenses=expenses[0]-expenses[1]
print("Extra expenses in February:", feb_extra_expenses)
total_expense_Qusrter=expenses[0]+expenses[1]+expenses[2]
print("Find out if you spent exactly 2000 dollars in any month", 2000 in expenses)
print("Frist Quarter Expensee:", total_expense_Qusrter)
expenses.append(1980)
print("Expenses List after adding one month Which is:", expenses)
refund_value=200
expenses[0]-=refund_value
print("After Refund Values List Will Be", expenses)

Extra expenses in February: -150
Find out if you spent exactly 2000 dollars in any month False
Frist Quarter Expensee: 7150
Expenses List after adding one month Which is: [2200, 2350, 2600, 2130, 2190, 1980]
After Refund Values List Will Be [2000, 2350, 2600, 2130, 2190, 1980]

# 2. You have a list of your favourite marvel super heros
# # heros=['spider man','thor','hulk','iron man','captain america']
# # Using this list
# 1. Length of the list
# 2. Add 'black panther' at the end of this list
# 3. You realize that you need to add 'black panther' after 'hulk',
# so remove it from the list first and then add it after 'hulk'
 <!-- <Now you don't like thor and hulk because they get angry easily :) --> -->
#    So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
#    Do that with one line of code.
# 5. Sort the list in alphabetical order

In [122]:
heros=['spider man','thor','hulk','iron man','captain america']
print(len(heros))

5

In [129]:
heros.append('black panther')
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [131]:
# heros.remove('black panther')
heros.pop(5)
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [133]:
heros.insert(3, 'black panther')
print(heros)

['spider man', 'thor', 'hulk', 'black panther', 'black panther', 'iron man', 'captain america']

In [137]:
heros[1:3]=['doctor strange']
print(heros)

['spider man', 'doctor strange', 'c', 't', 'o', 'r', ' ', 's', 't', 'r', 'a', 'n', 'g', 'e', 'c', 't', 'o', 'r', ' ', 's', 't', 'r', 'a', 'n', 'g', 'e', 'o', 'c', 't', 'o', 'r', ' ', 's', 't', 'r', 'a', 'n', 'g', 'e', 'hulk', 'black panther', 'black panther', 'iron man', 'captain america']

In [139]:
heros.sort()
print(heros)

[' ', ' ', ' ', 'a', 'a', 'a', 'black panther', 'black panther', 'c', 'c', 'c', 'captain america', 'doctor strange', 'e', 'e', 'e', 'g', 'g', 'g', 'hulk', 'iron man', 'n', 'n', 'n', 'o', 'o', 'o', 'o', 'r', 'r', 'r', 'r', 'r', 'r', 's', 's', 's', 'spider man', 't', 't', 't', 't', 't', 't']

In [140]:
heros.sort(reverse=True)
print(heros)

['t', 't', 't', 't', 't', 't', 'spider man', 's', 's', 's', 'r', 'r', 'r', 'r', 'r', 'r', 'o', 'o', 'o', 'o', 'n', 'n', 'n', 'iron man', 'hulk', 'g', 'g', 'g', 'e', 'e', 'e', 'doctor strange', 'captain america', 'c', 'c', 'c', 'black panther', 'black panther', 'a', 'a', 'a', ' ', ' ', ' ']

# If Condition

In [144]:
# handling if-else using ternery operators.......
no=int(input("Enter a No:"))
message="No is even" if no%2==0 else "No is odd"
print(message)

Enter a No: 7

No is odd

In [4]:
no=int(input("Enter a No:"))
if no % 2 == 0:
    print("no is even")
else:
    print("no is odd")

Enter a No: 5

no is odd

# Using following list of cities per country,
# india = ["mumbai", "banglore", "chennai", "delhi"]
# pakistan = ["lahore","karachi","islamabad"]
# bangladesh = ["dhaka", "khulna", "rangpur"]
# i-Write a program that asks user to enter a city name and it should tell which country the city belongs to
# ii-Write a program that asks user to enter two cities and it tells you if they both are in same country or not. For example if I enter mumbai and chennai, it will print "Both cities are in India" but if I enter mumbai and dhaka it should print "They don't belong to same country"

In [152]:
# 1-i
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]
city=input("Enter City Na")
if city in india:
    print(f"{city} City Belongs To India")
elif city in pakistan:
    print(f"{city} City Belongs to Pakistan")
elif city in bangladesh:
    print(f"{city} City Belongs to bangladesh")
else:
    print(f"{city} Not Belongs to listed Country")

Enter City Na banglore

banglore City Belongs To India

In [166]:
india = ["mumbai", "bangalore", "chennai", "delhi"]
pakistan = ["lahore", "karachi", "islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]

# Take inputs for two cities
city_1 = input("Enter City Name 1: ").lower()
city_2 = input("Enter City Name 2: ").lower()

# Check if both cities are in the same country
if city_1 in india and city_2 in india:
    print(f"{city_1.capitalize()} and {city_2.capitalize()} are cities in India.")
elif city_1 in pakistan and city_2 in pakistan:
    print(f"{city_1.capitalize()} and {city_2.capitalize()} are cities in Pakistan.")
elif city_1 in bangladesh and city_2 in bangladesh:
    print(f"{city_1.capitalize()} and {city_2.capitalize()} are cities in Bangladesh.")
else:
    print(f"{city_1.capitalize()} and {city_2.capitalize()} do not belong to the listed countries.")

Enter City Name 1:  lahore
Enter City Name 2:  rangpur

Lahore and Rangpur do not belong to the listed countries.

# 2-Write a python program that can tell you if your sugar is normal or not. Normal fasting level sugar range is 80 to 100.
# Ask user to enter his fasting sugar level
# If it is below 80 to 100 range then print that sugar is low
# If it is above 100 then print that it is high otherwise print that it is normal

In [ ]:
f=[80,100]

In [170]:
sugg=int(input("Enter Suger no"))
if sugg<80:
    print("suger is low")
elif sugg>100:
    print("suger is high")
else:
    print("Your suger is normal")

Enter Suger no 110

suger is high

# Loop

# After flipping a coin 10 times you got this result,
# result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]


# Using for loop figure out how many times you got heads

In [173]:
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
total=0
for i in result:
    if i == "heads":
        total=total+1
    else:
        continue;
print("No Of heads In List:", total)

No Of heads In List: 4

# 2-Print square of all numbers between 1 to 10 except even numbers

In [177]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

# 3-Your monthly expense list (from Jan to May) looks like this,
# expense_list = [2340, 2500, 2100, 3100, 2980]
# Write a program that asks you to enter an expense amount and program should tell you in which month that expense occurred. If expense is not found then it should print that as well.

In [185]:
# -Your monthly expense list (from Jan to May) looks like this,
expense_list = [2340, 2500, 2100, 3100, 2980]
# Write a program that asks you to enter an expense amount and program should tell you in which month that expense occurred. If expense is not found then it should print that as well.
exp=int(input("Enter Your Expense:"))
if exp==2340:
    print("january expense")
elif exp==2500:
    print("February expense")
elif exp==2100:
    print("march expense")
elif exp==3100:
    print("april expense")
elif exp==2980:
    print("may expense")
else:
    print("you entered expense which is not found in our list")

Enter Your Expense: 1231

you entered expense which is not found in our list

In [187]:
# List of monthly expenses (starting from January)
expense_list = [2340, 2500, 2100, 3100, 2980]

# List of months corresponding to the expenses
months = ['January', 'February', 'March', 'April', 'May']

# Ask the user to enter the expense amount
expense = int(input("Enter the expense amount: "))

# Check if the expense is in the expense list
if expense in expense_list:
    # Find the index of the expense and get the corresponding month
    index = expense_list.index(expense)
    print(f"The expense occurred in {months[index]}.")
else:
    print("Expense not found.")

Enter the expense amount:  3100

The expense occurred in April.

# 5-# 5. Write a program that prints following shape.

In [ ]:
```
*
**
***
****
*****
```

In [197]:
for i in range(1, 6):
    for u in range(i):
        print('*', end='')
    print()

*
**
***
****
*****

# Function

# 1-Write a function called calculate_area that takes base and height as an input and returns and area of a triangle. Equation of an area of a triangle is,
area = (1/2)*base*height

In [202]:
# base=int(input("Enter Base"))
# height=int(input("Enter Height"))
def calculate_area(base, height):
    area=(1/2)*base*height
    return area
Area=calculate_area(3,4)
print("the area of triangle:", Area)

the area of triangle: 6.0

# Modify above function to take third parameter shape type. It can be either "triangle" or "rectangle". Based on shape type it will calculate area. Equation of rectangle's area is
rectangle area=length*width
If no shape is supplied then it should take triangle as a default shape

In [211]:
def calculate_area(length, width, shape):
    if shape=='triangle' or 'aAbBcCdDeEfFgGhHiIjJkKlL:
        return (1/2)*length*width
    elif shape=='rectangle':
        return length*width
    else:
        return (1/2)*length*width
    
lenght=float(input("enter length"))
width=float(input("enter width"))
shape=input("enter shape").lower()
Area=calculate_area(lenght, width, shape)
print(f"the area of {shape} is ", Area)

enter length 4
enter width 5
enter shape dfg

the area of dfg is  10.0

# 3-Write a function called print_pattern that takes integer number as an argument and prints following pattern if input number is 3,

In [ ]:
*
**
***
3,
and 
if input is 4 then it should print
Basically number of lines it prints is equal to that number. (Hint: you need to use two for loops)

In [227]:
def astrik_patters(nu):
    for i in range(nu+1):
        for f in range(i):
            print('*', end='')
        print()
nu=int(input("enter no of astrik you want to print"))
astrik_patters(nu)

enter no of astrik you want to print 5

*
**
***
****
*****

# modules

In [228]:
import math
math.pi

3.141592653589793

In [229]:
math.log10(1000)

3.0

In [234]:
math.log10(1000000)

6.0

In [238]:
math.sqrt(27)

5.196152422706632

In [239]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [240]:
import calendar

In [245]:
jan=calendar.month(2024, 1)
print(jan)

    January 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [247]:
calendar.isleap(2024)

True

In [248]:
calendar.isleap(2023)

False

In [249]:
print(__name__)

__main__

# Dictioneries

In [251]:
captains={}
type(captains)

dict

In [253]:
captains={"india":"virat", "pakistan":"sarfraz", "bangladesh":"shanto"}
captains.keys()

dict_keys(['india', 'pakistan', 'bangladesh'])

In [254]:
captains.values()

dict_values(['virat', 'sarfraz', 'shanto'])

In [255]:
 captains['pakistan']

'sarfraz'

In [256]:
captains['india']

'virat'

In [259]:
captains['bangladesh']

'shanto'

In [260]:
captains['england']='joe root'

In [263]:
captains.keys()

dict_keys(['india', 'pakistan', 'bangladesh', 'england'])

In [264]:
captains

{'india': 'virat',
 'pakistan': 'sarfraz',
 'bangladesh': 'shanto',
 'england': 'joe root'}

In [268]:
for i in captains:
    print(i, "==>",captains[i] )

india ==> virat
pakistan ==> sarfraz
bangladesh ==> shanto
england ==> joe root

In [271]:
for i, v in captains.items():
    print(i, ":", v)

india : virat
pakistan : sarfraz
bangladesh : shanto
england : joe root

In [272]:
captains['india']

'virat'

In [275]:
captains.get('sdfsdfk', 'invalid')

'invalid'

In [277]:
captains.get('india', "lovely")

'virat'

In [278]:
captains.get("pak", "pakistan")

'pakistan'

In [281]:
'pakistan' in captains

True

In [280]:
'india' in captains

True

# onfly dictionery...

In [282]:
gt={}
gt['opa']="halvai"
gt['kha']="nehari"
gt[9]="opfopsd"
gt
t

{'opa': 'halvai', 'kha': 'nehari', 9: 'opfopsd'}

# Tuples

In [283]:
point=(4,5,6,7,"dfgsdj", 'ri')

In [284]:
point

(4, 5, 6, 7, 'dfgsdj', 'ri')

# Exercise: Python Dict and Tuples

In [ ]:
# We have following information on countries and their population (population is in crores),
ountry	Population
China	143
India	136
USA	32
Pakistan	21
i-Using above create a dictionary of countries and its population
ii-Write a program that asks user for three type of inputs,
    a-print: if user enter print then it should print all countries with their population in this format,
china==>143
india==>136
usa==>32
pakistan==>21
    b-add: if user input add then it should further ask for a country name to add. If country already exist
    in our dataset then it should print that it exist and do nothing. If it doesn't then it asks for population 
    and add that new country/population in our dictionary and print it
    c-remove: when user inputs remove it should ask for a country to remove. If country exist in our dictionary
    then remove it and print new dictionary using format shown above in (a). Else print that country doesn't exist!
    d-query: on this again ask user for which country he or she wants to query. When user inputs that country it will
    print population of that country.

In [2]:
p_country={'china':143, 'india':136, 'usa': 32, 'pakistan':21}
p_country

{'china': 143, 'india': 136, 'usa': 32, 'pakistan': 21}

In [3]:
# a-
use=input("enter user choice")
if use=='print':
    for i, v in p_country.items():
        print(i, "==>", v)
else:
    pass

enter user choice print

china ==> 143
india ==> 136
usa ==> 32
pakistan ==> 21

In [4]:
# a-
use=input("enter user choice")
if use=='print':
    for i in p_country:
        print(i, "==>", p_country[i])
else:
    pass

enter user choice print

china ==> 143
india ==> 136
usa ==> 32
pakistan ==> 21

In [5]:
p_country

{'china': 143, 'india': 136, 'usa': 32, 'pakistan': 21}

In [14]:
# b
p_country = {"USA": 331002651, "India": 1380004385, "China": 1439323776}  # Example dictionary

use = input("Enter user choice (print/add): ")

if use == 'print':
    for i, v in p_country.items():
        print(i, "==>", v)
        
elif use == 'add':
    cout = input("Enter country name to add: ")
    
    if cout in p_country:  # Use cout instead of count
        print("It exists and does nothing.")
    else:
        popu = input("Please enter the population to add for the new country: ")
        p_country[cout] = popu  # Use cout as the key and popu as the value
        
        # Print the updated dictionary
        for i, v in p_country.items():
            print(i, "==>", v)
else:
    pass

Enter user choice (print/add):  add
Enter country name to add:  nigeria
Please enter the population to add for the new country:  88

USA ==> 331002651
India ==> 1380004385
China ==> 1439323776
nigeria ==> 88

In [19]:
p_country

{'USA': 331002651, 'India': 1380004385, 'China': 1439323776}

In [23]:
# c
p_country = {"USA": 331002651, "India": 1380004385, "China": 1439323776}  # Example dictionary
use = input("Enter user choice remove/other")

if use == 'remove':
    coun=input("please enter country you want to remove")
    if coun in p_country:
        p_country.pop(coun)
        for i, v in p_country.items():
            print(i, "==>", v)
else:
    print("country doesn't exist!")
    
    # if cout in p_country:  # Use cout instead of count
    #     print("It exists and does nothing.")
    # else:
    #     popu = input("Please enter the population to add for the new country: ")
    #     p_country[cout] = popu  # Use cout as the key and popu as the value
        
    #     # Print the updated dictionary
    #     for i, v in p_country.items():
#     #         print(i, "==>", v)
# else:
#     pass

Enter user choice remove/other remove
please enter country you want to remove USA

India ==> 1380004385
China ==> 1439323776

In [42]:
# d-
p_country = {"USA": 331002651, "India": 1380004385, "China": 1439323776}  # Example dictionary
use = input("Enter user choice which country he want to query")

if use in p_country:
    print(f"the population of {use} is {p_country.get(use)}")
    # p_country.get(use)
else:
    print("country doesn't exist!")

Enter user choice which country he want to query India

the population of India is 1380004385

In [33]:
p_country

{'India': 1380004385, 'China': 1439323776}

In [ ]:
ue='India'

In [41]:
o=p_country.get('ue')
print(o)

None

In [ ]:
2-You are given following list of stocks and their prices in last 3 days,
Stock	Prices
info	[600,630,620]
ril	[1430,1490,1567]
mtl	[234,180,160]
i-Write a program that asks user for operation. Value of operations could be,
    a-print: When user enters print it should print following,
        info ==> [600, 630, 620] ==> avg:  616.67
        ril ==> [1430, 1490, 1567] ==> avg:  1495.67
        mtl ==> [234, 180, 160] ==> avg:  191.33
    b-add: When user enters 'add', it asks for stock ticker and price. If stock already 
    exist in your list (like info, ril etc) then it will append the price to the list. 
    Otherwise it will create new entry in your dictionary. For example entering 'tata' and 560
    will add tata ==> [560] to the dictionary of stocks.

In [43]:
# a-
# Define the stock prices
stocks = {
    "info": [600, 630, 620],
    "ril": [1430, 1490, 1567],
    "mtl": [234, 180, 160]
}

# Function to calculate average
def calculate_average(prices):
    return sum(prices) / len(prices)

# Function to handle the 'print' operation
def print_stocks():
    for stock, prices in stocks.items():
        avg_price = calculate_average(prices)
        print(f"{stock} ==> {prices} ==> avg: {avg_price:.2f}")

# Ask user for operation
operation = input("Enter operation (print): ").strip().lower()

# Perform operation
if operation == 'print':
    print_stocks()
else:
    print("Invalid operation.")

Enter operation (print):  print

info ==> [600, 630, 620] ==> avg: 616.67
ril ==> [1430, 1490, 1567] ==> avg: 1495.67
mtl ==> [234, 180, 160] ==> avg: 191.33

In [44]:
# b
# Define the stock prices
stocks = {
    "info": [600, 630, 620],
    "ril": [1430, 1490, 1567],
    "mtl": [234, 180, 160]
}

# Function to calculate average
def calculate_average(prices):
    return sum(prices) / len(prices)

# Function to handle the 'print' operation
def print_stocks():
    for stock, prices in stocks.items():
        avg_price = calculate_average(prices)
        print(f"{stock} ==> {prices} ==> avg: {avg_price:.2f}")

# Function to handle the 'add' operation
def add_stock():
    stock_ticker = input("Enter stock ticker: ").strip().lower()
    price = float(input(f"Enter price for {stock_ticker}: ").strip())
    
    # Check if stock ticker exists in the dictionary
    if stock_ticker in stocks:
        stocks[stock_ticker].append(price)
    else:
        stocks[stock_ticker] = [price]
    
    print(f"{stock_ticker} ==> {stocks[stock_ticker]}")

# Ask user for operation
operation = input("Enter operation (print/add): ").strip().lower()

# Perform operation
if operation == 'print':
    print_stocks()
elif operation == 'add':
    add_stock()
else:
    print("Invalid operation.")

Enter operation (print/add):  add
Enter stock ticker:  tata
Enter price for tata:  3223

tata ==> [3223.0]

# 3-Write circle_calc() function that takes radius of a circle as an input from user and then it calculates and returns area, circumference and diameter. You should get these values in your main program by calling circle_calc function and then print them

In [45]:
import math

# Function to calculate area, circumference, and diameter of a circle
def circle_calc():
    radius = float(input("Enter the radius of the circle: "))
    
    # Calculating area, circumference, and diameter
    area = math.pi * radius ** 2
    circumference = 2 * math.pi * radius
    diameter = 2 * radius
    
    # Returning the calculated values
    return area, circumference, diameter

# Main program
area, circumference, diameter = circle_calc()

# Printing the results
print(f"Area: {area:.2f}")
print(f"Circumference: {circumference:.2f}")
print(f"Diameter: {diameter:.2f}")

Enter the radius of the circle:  2

Area: 12.57
Circumference: 12.57
Diameter: 4.00

In [47]:
import math

def calc_area(r):
    return math.pi * r ** 2

if __name__ == "__main__":
    area = calc_area(5)
    print(area)

78.53981633974483

# File handling in python

In [9]:
with open("funny.txt", "r") as f:
    content = f.read()
    print(content)

wikas: this is a hero
nejeeb:who are you
wiakas:this is a lair
nejeeb:what a stuped.

In [10]:
f = open("funny.txt", "r")
print(f.readline())

wikas: this is a hero

In [11]:
f = open("funny.txt", "r")
print(f.read(5))

wikas

In [12]:
f = open("funny.txt", "r")
print(f.readline())
print(f.readline())

wikas: this is a hero

nejeeb:who are you

In [13]:
f = open("funny.txt", "r")
for i in f:
    print(i)

wikas: this is a hero

nejeeb:who are you

wiakas:this is a lair

nejeeb:what a stuped.

In [27]:
with open("funny.txt", "a") as f:
    f.write("Now the file has more content!")
    f.close()
with open ("funny.txt", "r") as f:
    print(f.read())

wikas: this is a hero
nejeeb:who are you
wiakas:this is a lair
nejeeb:what a stuped.Now the file has more content!Now the file has more content!

In [29]:
with open("funny.txt", "w") as f:
    f.write("Now the file has more content!")
    f.close()
with open ("funny.txt", "r") as f:
    print(f.read())

Now the file has more content!

In [2]:
f=open("healt.txt", "x")

In [3]:
with open ("healt.txt", "w") as f:
    f.write("Hello Doctors")
    f.close()

In [7]:
with open ("healt.txt", "r") as f:
    print(f.read())
    f.close()

Hello Doctors

In [14]:
with open ("healt.txt", "a") as f:
    f.write("\nHello give us time")
    f.close()
with open ("healt.txt", "r") as f:
    print(f.read())

Hello DoctorsHello give us timeHello give us timeHello give us timeHello give us time
Hello give us time
Hello give us time

In [16]:
f = open ("hello.txt", "x")

In [19]:
with open ("hello.txt", "w") as f:
    f.write("Hello this is the world of Data Sceience")
    f.close()
with open ("hello.txt", "r") as f:
    print(f.read())

Hello this is the world of Data Sceience

In [45]:
with open ("hello.txt", "w") as f:
    f.write("Hello this is the world of Artificial intelligence")
    f.close()
with open ("hello.txt", "r") as f:
    print(f.read())

Hello this is the world of Artificial intelligence

In [26]:
# import os
# os.remove("hello.txt")

In [47]:
import os
if os.path.exists("hello.txt"):
    os.remove("hello.txt")
else:
    print("file did exist")

file did exist

In [44]:
import os
os.rmdir("qa")

# Read Write File

In [69]:
player_score = {}
with open("crick.csv", "r") as f:
    for line in f:
        if len(line) <2:
            continue
        token=line.split(',') #it return ['player_na':'score_']
        player=token[0] # assign 0th index value  player
        score=int(token[1]) # assign 1 index value ot score
        if player in player_score:
            player_score[player].append(score) #if the player is already in dict then append his score at the end
        else:
            player_score[player]=[score]# If the player not in dict then add the player and  his score also.
for player, score_list in player_score.items():
    min_score=min(score_list)
    max_score=max(score_list)
    average_score=sum(score_list)/len(score_list)
    print(f"{player} min score is=> {min_score} ,{player} max score is =>{max_score} {player} average scores =>{average_score}")
    # print(score_list)

rohit min score is=> 67 ,rohit max score is =>100 rohit average scores =>89.0
baber min score is=> 78 ,baber max score is =>122 baber average scores =>100.66666666666667
skib min score is=> 67 ,skib max score is =>190 skib average scores =>122.66666666666667

# 1-poem.txt contains famous poem "Road not taken" by poet Robert Frost. You have to read this file in your python program and find out words with maximum occurance.

In [70]:
f=open("poem.txt", "x")

In [76]:
from collections import Counter

# Open and read the file
with open("poem.txt", "r") as f:
    text = f.read()

# Split the text into words and make them lowercase for consistent counting
words = text.lower().split()

# Remove any punctuation (if needed)
words = [word.strip('.,!?;"\'') for word in words]

# Count the frequency of each word
word_count = Counter(words)

# Find the word(s) with the maximum occurrence
max_count = max(word_count.values())
most_common_words = [word for word, count in word_count.items() if count == max_count]

print(f"The word(s) with the highest frequency: {most_common_words}")
print(f"Frequency: {max_count}")

The word(s) with the highest frequency: ['and']
Frequency: 9

In [77]:
with open("poem.txt", "r") as f:
    text = f.read().lower().split()  # Read file, convert to lowercase, and split into words
word_count = {word.strip('.,!?;"\''): text.count(word) for word in set(text)}  # Count occurrences
max_count = max(word_count.values())  # Find max occurrence
most_common_words = [word for word, count in word_count.items() if count == max_count]  # Find most common words
print(f"Most common word(s): {most_common_words}, Frequency: {max_count}")  # Output result

Most common word(s): ['and'], Frequency: 9

# 2-stocks.csv contains stock price, earnings per share and book value. You are writing a stock market application that will process this file and create a new file with financial metrics such as pe ratio and price to book ratio. These are calculated as,

In [81]:
# Read the CSV file and process the data
with open("stocks.csv", "r") as f:
    lines = f.readlines()

# Open a new file to write the results
with open("stock_metrics.csv", "w") as f_out:
    f_out.write("Company Name,PE Ratio,PB Ratio\n")  # Writing the header with commas
    
    for line in lines[1:]:  # Skip header
        company, price, eps, book_value = line.strip().split(",")
        price = float(price)
        eps = float(eps)
        book_value = float(book_value)
        
        # Calculate the metrics
        pe_ratio = price / eps if eps != 0 else 0  # Handle division by zero
        pb_ratio = price / book_value if book_value != 0 else 0
        
        # Write the result into the new file with comma-separated values
        f_out.write(f"{company},{pe_ratio:.2f},{pb_ratio:.2f}\n")

# Try Catch

In [5]:
try:
    print(X)
except:
    print("X is invalid")

X is invalid

In [6]:
try:
  print(x)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")

Variable x is not defined

In [7]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

In [8]:
try:
  print(x)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

In [9]:
try:
  f = open("demofile.txt")
  try:
    f.write("Lorum Ipsum")
  except:
    print("Something went wrong when writing to the file")
  finally:
    f.close()
except:
  print("Something went wrong when opening the file")

Something went wrong when opening the file

In [12]:
# Raise an exception
x = "hello"

if not type(x) is int:
  raise TypeError("Only integers are allowed")

TypeError: Only integers are allowed

In [13]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

In [14]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

 <!-- Working With Json -->

# Working With Json

In [18]:
book={}
book['tom']={'name': 'tom',
          'address': 123456,
          'phone':1233213}
book['bob']={'name': 'bob',
          'address': 7643346,
          'phone':766575673}
import json
s=json.dumps(book)
with open(r'C:\Users\User\Documents\Python_Hindi', 'w') as f:
    f.write(s)
with open(r'C:\Users\User\Documents\Python_Hindi', 'r') as f:
    s = f.read()
    print(s)

{"tom": {"name": "tom", "address": 123456, "phone": 1233213}, "bob": {"name": "bob", "address": 7643346, "phone": 766575673}}

In [19]:
import json
y=json.loads(s)
y

{'tom': {'name': 'tom', 'address': 123456, 'phone': 1233213},
 'bob': {'name': 'bob', 'address': 7643346, 'phone': 766575673}}

In [20]:
type(y)

dict

In [21]:
book['bob']

{'name': 'bob', 'address': 7643346, 'phone': 766575673}

In [22]:
book['bob']['phone']

766575673

In [23]:
book['tom']['name']

'tom'

In [25]:
for i in book:
    print(book[i])

{'name': 'tom', 'address': 123456, 'phone': 1233213}
{'name': 'bob', 'address': 7643346, 'phone': 766575673}

# Exception Handling....

# The try block lets you test a block of code for errors.

# The except block lets you handle the error.

# The else block lets you execute code when there is no error.

# The finally block lets you execute code, regardless of the result of the try- and except blocks.

In [5]:
a=input("enter first no")
b=input("enter second no")
try:
    s=int(a)/int(b)
except ZeroDivisionError as e:
    print("exception is occur which is ZeroDivisonError")
    s=None
except ValueError as e:
    print("exception is occur which is TypeError")
    s=None

print("result is :", s)

enter first no 1
enter second no 0

exception is occur which is ZeroDivisonError
result is : None

# else, finally

In [9]:
a = input("Enter first number: ")
b = input("Enter second number: ")
try:
    s = int(a) / int(b)
except ZeroDivisionError as e:
    print("Exception occurred: ZeroDivisionError")
    s = None
except ValueError as e:
    print("Exception occurred: ValueError (invalid literal for int conversion)")
    s = None
else:
    # This will run only if no exception occurs
    print("Division successful!")
finally:
    # This will run no matter what (useful for cleanup)
    print("Execution completed.")

print("Result is:", s)

Enter first number:  2
Enter second number:  e

Exception occurred: ValueError (invalid literal for int conversion)
Execution completed.
Result is: None

# Class

In [14]:
class Human:
    def __init__(self, n, o):
        self.name= n
        self.occupation=o
    def do_work(self):
        if self.occupation == 'actor':
            print(self.name, "plays film")
        elif self.occupation =='tennis':
            print(self.name, "plays tennis")
    def do_speak(self):
        print(self.name, "says how are you")
tom=Human('tom crouse', 'actor')
tom.do_work()
tom.do_speak()
tom=Human('maria sara', 'tennis')
tom.do_work()
tom.do_speak()

tom crouse plays film
tom crouse says how are you
maria sara plays tennis
maria sara says how are you

# Inheritance...

In [22]:
class Vehicle:
    def general_usage(self):
        print("General Use: Transportation")
class car(Vehicle):
    def __init__(self):
        print("I a'm a car")
        self.wheels=4
        self.has_roof=True
    def specific_usage(self):
        print("Specific Usage: commute to work, vacation with family")
class bike(Vehicle):
    def __init__(self):
        print("I a'm a bike")
        self.wheels=2
        self.has_roof=False
    def specific_usage(self):
        print("Specific Usage: commute to work")
Car=car()
Car.specific_usage()
Car.general_usage()
Bike=bike()
Bike.specific_usage()
Bike.general_usage()

I a'm a car
Specific Usage: commute to work, vacation with family
General Use: Transportation
I a'm a bike
Specific Usage: commute to work
General Use: Transportation

# multiple inheritance

In [25]:
class father:
    def gardening():
        print("I enjoy gardening")
class mother:
    def cooking():
        print("I enjoy cooking")
class child(father, mother):
    def sports():
        print("I enjoy sports")
Child=child
Child.sports()
Child.gardening()
Child.cooking()

I enjoy sports
I enjoy gardening
I enjoy cooking

# multiple inheritance function overriding

In [33]:
class father:
    def skills(self):
        print("I enjoy gardening")
        
class mother:
    def skills(self):
        print("I enjoy cooking")
        
class child(father, mother):
    def skills(self):
        father.skills(self)
        mother.skills(self)
        print("I enjoy sports")
        
Child=child()
Child.skills()

I enjoy gardening
I enjoy cooking
I enjoy sports

In [31]:
class Father:
    def skills(self):
        print("I enjoy gardening")

class Mother:
    def skills(self):
        print("I enjoy cooking")

class Child(Father, Mother):
    def skills(self):
        Father.skills(self)
        Mother.skills(self)
        print("I enjoy sports")

# Create an instance of the Child class
child_instance = Child()

# Call the skills method on the instance
child_instance.skills()

I enjoy gardening
I enjoy cooking
I enjoy sports

# Standard Exception

In [1]:
try:
    raise MemoryError ("MemoryError")
except MemoryError as e:
    print(e)

MemoryError

# User Define Exception

In [5]:
class Accident(Exception):
    def __init__(self, msg):
        self.msg = msg
    def handle(self):
        print("Accident Occurs when I was drive", self.msg)

try:
    raise Accident ("crash between two cars")
except Accident as e:
    e.handle()

Accident Occurs when I was drive crash between two cars

# Iterator and it's implementation using  class

In [6]:
a=["qqq", "you'y", "c", "o","p"]
for i in a:
    print(i)

qqq
you'y
c
o
p

In [7]:
itr=iter(a)
dir(itr)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__length_hint__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [8]:
next(itr)

'qqq'

In [9]:
next(itr)

"you'y"

In [10]:
next(itr)

'c'

In [11]:
next(itr)

'o'

In [12]:
next(itr)

'p'

# List, Set, Dictionery Comprehension

In [1]:
nomber=[1,2,3,4,5,6,7]
even=[]
for i in nomber:
    if i%2 ==0:
        even.append(i)

In [2]:
even

[2, 4, 6]

# Dictionery Comprehenion

In [4]:
cities=["mumbai", "New York", "Islamabad"]
countries=["India", "USA", "Pakistan"]
z=zip(cities, countries)
z

In [5]:
for i in z:
    print(i)

('mumbai', 'India')
('New York', 'USA')
('Islamabad', 'Pakistan')

In [14]:
# dic={cities:countries for cities, countries in zip(cities, countries)}
cities=["mumbai", "New York", "Islamabad"]
countries=["India", "USA", "Pakistan"]
dic = {city: country for city, country in zip(cities, countries)}
print(dic)

{'mumbai': 'India', 'New York': 'USA', 'Islamabad': 'Pakistan'}

In [17]:
cities=["mumbai", "New York", "Islamabad"]
countries=["India", "USA", "Pakistan"]
dicto = dict(zip(cities, countries))
print(dicto)

{'mumbai': 'India', 'New York': 'USA', 'Islamabad': 'Pakistan'}

# Sets and Frozen Sets in Python

# sets is a unorder collection of unique elements.

In [19]:
xip={"orange", "orange", "bananas", "bananas", "mango", "mango"}
xip

{'bananas', 'mango', 'orange'}

In [20]:
a=set()

In [26]:
a.add(1)
a.add(2)

In [27]:
a

{1, 2}

In [30]:
d={}
# d.add(2,45)

In [31]:
d

{}

In [32]:
type(d)

dict

In [33]:
d={"hi something went wrong"},

In [34]:
d

{'hi something went wrong'}

In [35]:
no=[1, 2,3,4,5,6,7]
modify_set=set(no)
modify_set.add(8)
modify_set

{1, 2, 3, 4, 5, 6, 7, 8}

# Frozen Set

# A set thats content not changeable as normally change

In [37]:
nom=frozenset(modify_set)
nom

frozenset({1, 2, 3, 4, 5, 6, 7, 8})

In [38]:
nom.add(9)

AttributeError: 'frozenset' object has no attribute 'add'

In [47]:
x={'a', 'b', 'c', 'd'}
y={'g', 'h', 'i', 'j', 'c'}

In [45]:
x|y

{'a', 'b', 'c', 'd', 'g', 'h', 'i', 'j'}

In [48]:
x&y

{'c'}

In [49]:
x>y

False

In [50]:
x<y

False

In [51]:
'a' in x

True